/* shared style */
body {
  margin-top: 50px;
  margin-left: 110px;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.merriweather-400 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: #070211;
}

.merriweather-900 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: #070211;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #070211;
}

.inter-500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #070211;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #070211;
}

.inter-700 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #070211;
}

.inter-900 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #070211;
}

/* header section style */
header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-image: url("../assets/Banner\ Image.png");
  background-position: center;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin-bottom: 120px;
}

header > p {
  font-size: 32px;
  padding-top: 177px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
}

header #banner-title {
  font-size: 72px;
  margin-top: 0px;
  max-width: 632px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

/* offer section styling */
.offer-section {
   display: flex;
   flex-direction: column;
   margin-bottom: 120px;
}

.offer-narrative #line-1 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  margin-bottom: 45px;
}

.offer-narrative #line-2 {
   color: #F00;
   text-align: center;
   font-size: 24px;
   margin-top: 0px;
   margin-bottom: 15px;
}

.offer-narrative #line-3 {
   text-align: center;
   font-size: 48px;
   font-weight: 700;
   margin-top: 0px;
   margin-bottom: 45px;
}

.offer-section > img {
   width: 800px;
   height: 500px;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
}

