/* shared style */
header,
main {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 140px;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

main {
  margin-bottom: 120px;
}

.merriweather-400 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: #070211;
}

.merriweather-900 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: #070211;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #070211;
}

.inter-500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #070211;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #070211;
}

.inter-700 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #070211;
}

.inter-900 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #070211;
}

/* header section style */
header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-image: url("../assets/Banner\ Image.png");
  background-position: center;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}

header > p {
  font-size: 32px;
  padding-top: 177px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
}

header #banner-title {
  font-size: 72px;
  margin-top: 0px;
  max-width: 632px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

/* Midnight party banner styling */
.midnight-party-banner {
  width: 1100px;
  background-repeat: no-repeat;
  display: flex;
  padding: 70px 108px 65px 125px;
  background-image: url("../assets/Vectorrr.png");
  margin-bottom: 120px;
}

.midnight-party-banner .banner-narrative {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.midnight-party-banner .banner-narrative #title {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  letter-spacing: 7.04px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.midnight-party-banner .banner-narrative #description {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0px;
  margin-bottom: 50px;
}

.midnight-party-banner .banner-narrative #join-now {
  color: white;
  margin-left: 30px;
  margin-top: 0px;
}

/* offer section styling */
.offer-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.offer-narrative #line-1 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  margin-bottom: 45px;
}

.offer-narrative #line-2 {
  color: #f00;
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.offer-narrative #line-3 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 45px;
}

.offer-section > img {
  width: 800px;
  height: 500px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* midnight-party-banner styling */
.midnight-party-banner {
  margin-bottom: 120px;
}

/* schedule section styling */
.schedule-section {
  padding: 100px 385px 110px 385px;
  margin-bottom: 120px;
  /* set background gradient */
}

.schedule-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.schedule-div .inter-600 {
  font-size: 32px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
}

.schedule-div .inter-600 .color-red {
  color: red;
}

.schedule-div #join-now-btn {
  font-size: 20px;
  color: white;
  padding: 16px 32px;
  background-color: red;
  border-radius: 8px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* offer announcement section */
.offer-announcement-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.offer-announcement-section .div-1 #color-red {
  color: #f00;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.offer-announcement-section .div-1 > h1 {
  font-size: 48px;
  color: #070211;
  margin-top: 0px;
  margin-bottom: 20px;
}

.offer-announcement-section .div-1 #description {
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  max-width: 390px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.offer-announcement-section #section-image {
  /* add the red ring outside the image */
}

.offer-announcement-section .div-2 {
  margin: left;
}

.offer-announcement-section .div-2 #year {
  font-size: 48px;
  color: #f00;
  margin-top: 0px;
  margin-bottom: 15px;
}

.offer-announcement-section .div-2 #description {
  max-width: 275px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 45px;
}

.offer-announcement-section .div-2 > img {
  margin-top: 0px;
}

/* portfolio section styling */
.portfolio-section {
  margin-bottom: 120px;
}

.portfolio-section .gallery-first-row,
.portfolio-section .gallery-second-row {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.portfolio-section #color-red {
  color: red;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.portfolio-section #title {
  font-size: 48px;
  text-transform: capitalize;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.portfolio-section #description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  max-width: 890px;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* newsletter subscription section */
.newsletter-subscription {
  width: 900px;
  padding: 80px 212px;
  justify-content: center;
  background: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
}

.newsletter-subscription .image-row {
   display: flex;
   justify-content: center;
}

.newsletter-subscription #title {
   color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.newsletter-subscription #description {
   color: rgba(7, 2, 17, 0.60);
text-align: center;
font-size: 20px;
}

.mail-submission-box {
   display: flex;
   gap: 0px;
   justify-content: center;
}

.newsletter-subscription .mail-submission-box #email-box {
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 648px;
  height: 72px;
}

.newsletter-subscription .mail-submission-box #subscribe {
   border: none;
   padding: 24px 56px;
   font-size: 20px;
   color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #F00;
  width: 210px;
  height: 74px;
}

/* footer section styling */
footer {
  height: 609px;
  background: #070211;
  margin: 0px;
}

.section-wrapper {
  padding: 120px 140px;
}

footer #section-1 #address,
footer #section-1 #contact #phone-no,
footer #section-1 #contact #web-address {
  color: #fff;
  font-size: 24px;
  padding-bottom: 50px;
  text-decoration: none;
}

.section-wrapper #section-1 #contact > img {
  padding-right: 7px;
}

footer #section-1 {
  display: flex;
  justify-content: space-between;
}

.horizontal-line {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.social-media-logo {
  padding-right: 20px;
}

footer .section-2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-3 {
  display: flex;
  justify-content: space-between;
}

.section-3 #copyright {
  font-size: 24px;
  color: #fff;
}

.section-3 .unsubscribe-btn > button {
  font-size: 24px;
  background-color: #070211;
  border: none;
  color: #fff;
}
